body {
    font-family: 'Visuelt Pro';
    font-size: 18px;
    font-weight: 400;
    color: #000;
    background: #F2F2F2;
}

.main-border {
    box-sizing: border-box;
    max-width: 1392px;
    border-radius: 24px;
    margin: auto;
    background: url(../images/main-bg.png) no-repeat;
    background-color: rgb(255 255 255);
    background-size: cover;
    backdrop-filter: blur(120px);
    margin-top: 24px;
    margin-bottom: 24px;
}

.header {
    max-width: 1280px;
    margin: auto;
}

.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 16px;
    padding-bottom: 16px;
}

.logo {
    font-weight: 500;
    color: #4754EB;
}

.header-nav {
    margin-left: 210px;
}

.nav-list {
    display: flex;
    gap: 24px;
    font-weight: 400;
    color: #808080;
}

.header-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
}

.lang-switcher {
    color: #808080;
}

.lang-switcher-span {
    font-weight: 500;
    color: #4754EB;
}

.login-button {
    font-family: "Visuelt Pro";
    padding: 12px 24px;
    font-weight: 500;
    font-size: 18px;
    color: #FFFFFF;
    background: #4754EB;
    border-radius: 16px;
}

.main {
    max-width: 1440px;
    margin: auto;
}

.main-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 56px;
    padding-right: 56px;
}

.main-info {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: baseline;
}

.main-title {
    font-weight: 500;
    font-size: 56px;
    padding-bottom: 40px;
}

.submit-form {
    padding: 8px;
    background: #f8f8f8;
    border-radius: 16px;
}

.input-form {
    width: 298px;
    height: 24px;
    background: #f8f8f8;
}

.button-form {
    font-family: 'Visuelt Pro';
    font-weight: 500;
    font-size: 18px;
    color: #4754EB;
    padding: 12px 24px;
    background: #FFFFFF;
    border-radius: 16px;
    margin-left: 12px;
}

.input-form {
    font-family: 'Visuelt Pro';
    font-weight: 400;
    font-size: 18px;
    color: #808080;
    padding-left: 15px;
}

.input-form::placeholder {
    font-family: 'Visuelt Pro';
    font-weight: 400;
    font-size: 18px;
    color: #808080;
}

.input-form:focus {
    font-family: 'Visuelt Pro';
    font-weight: 400;
    font-size: 18px;
    color: #000000;
    padding-left: 15px;
    border: none;
    outline: none;
}

.main-desc {
    padding-top: 16px;
    color: #595959;
    font-size: 12px;
    padding-bottom: 126px;
}

.main-desc-span {
    color: #505DEC;
}

.scroll-down {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.scroldown-title {
    color: #FFF;
}

.advantages {
    background: #FFFFFF;
}

.advantages-container {
    padding-bottom: 80px;
}

.section-title {
    font-weight: 500;
    font-size: 36px;
    padding-top: 80px;
    padding-left: 56px;
}

#title-1 {
    padding-bottom: 40px;
}

#title-2 {
    padding-bottom: 41px;
}

#title-3 {
    padding-bottom: 40px;
}

#title-4 {
    padding-left: 0;
    padding-bottom: 16px;
}

.advantages-cards {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    max-width: 1280px;
    margin: auto;
}

.advantages-card {
    width: 437px;
    height: 240px;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0px 4px 20px rgba(25, 25, 25, 0.05);
    backdrop-filter: blur(12px);
    border-radius: 24px;
}

.advantages-card-image {
    display: flex;
    align-items: center;
    gap: 12px;
    padding-left: 16px;
    padding-top: 12px;
}

.advantages-card-img {
    font-size: 56px;
}

.advantages-card-title {
    font-weight: 500;
    font-size: 24px;
    color: #1A1A1A;
}

.advantages-card-desc {
    width: 389px;
    color: #808080;
    padding-top: 16px;
    padding-left: 23px;
}

.hiw-grid {
    max-width: 1280px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin: auto;
    padding-bottom: 30px;
}

.hiw-info {
    padding-right: 221px;
}

.hiw-number {
    display: flex;
    align-items: center;
    gap: 16px;
    padding-bottom: 30px;
}

.hiw-number-name {
    font-size: 18px;
    color: #FFF;
}

#name-blue {
    color: #4754EB;
}

.hiw-second-title {
    font-weight: 500;
    font-size: 36px;
    color: #1A1A1A;
    padding-bottom: 16px;
}

.hiw-review {
    font-weight: 500;
    font-size: 18px;
    color: #4754EB;
    padding-bottom: 24px;
}

.hiw-desc {
    font-weight: 400;
    font-size: 18px;
    line-height: 135%;
    color: #808080;
    width: 463px;
    padding-bottom: 71px;
}

.hiw-button {
    font-family: 'Visuelt Pro';
    font-weight: 500;
    font-size: 18px;
    color: #FFFFFF;
    padding: 16px 24px;
    background: #4754EB;
    border-radius: 16px;
}

.pricing-plans {
    background: #FFFFFF;
}

.pricing-plans-container {
    padding-bottom: 80px;
}

#pricing-span-1 {
    color: #4754EB;
}

#pricing-span-2 {
    color: #808080;
}

.pricing-cards {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.pricing-card {
    box-sizing: border-box;
    width: 318px;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0px 4px 20px rgba(25, 25, 25, 0.05);
    backdrop-filter: blur(12px);
    border-radius: 24px;
}

.pricing-card-title {
    font-weight: 500;
    font-size: 24px;
    padding-left: 24px;
    padding-top: 24px;
}

.pricing-card-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-left: 24px;
    padding-top: 44px;
}

.pricing-card-list-item {
    display: flex;
    align-items: flex-start;
    gap: 16px;
}

.pricing-card-list-item-text {
    width: 224px;
    color: #808080;
    font-size: 18px;
}

.pricing-card-button {
    color: #4754EB;
    background: #f5f5f5;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 56px;
    margin: auto;
    margin-top: 16px;
    margin-bottom: 16px;
}

.reviews {
    max-height: 800px;
}

.reviews-container {
    padding-bottom: 80px;
}

.reviews-pool {
    max-width: 1280px;
    height: 560px;
    margin: auto;
}

.reviews-cards {
    position: absolute;
}

.reviews-card {
    position: absolute;
}

#review-card-1 {
    top: 56px;
}

#review-card-2 {
    top: 320px;
    left: 195px;
}

#review-card-3 {
    top: 200px;
    left: 684px;
    z-index: 1;
}

#review-card-4 {
    left: 357px;
    z-index: 1;
}

.reviews-card-head {
    width: 628px;
    height: 96px;
    background: rgba(255, 255, 255, 1);
    border-radius: 16px 16px 0px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.reviews-card-back {
    box-sizing: border-box;
    width: 628px;
    height: 144px;
    background: rgba(255, 255, 255, 1);
    border-radius: 0px 0px 16px 16px;
}

.reviews-card-head-grid {
    display: flex;
    align-items: center;
    gap: 16px;
    padding-left: 16px;
}

.reviews-card-head-avatar {
    width: 64px;
    height: 64px;
    background: #767676;
    background-size: cover;
    border-radius: 32px;
}

#oleg {
    background: url(../images/cats/oleg.png);
    background-size: cover;
}

#serega {
    background: url(../images/cats/serega.png);
    background-size: cover;
}

#innokentiy {
    background: url(../images/cats/innokentiy.png);
    background-size: cover;
}

#semen {
    background: url(../images/cats/semen.jpg);
    background-size: cover;
}

.reviews-card-head-name {
    font-weight: 500;
    font-size: 24px;
}

.reviews-card-head-date {
    padding-right: 24px;
    color: #808080;
}

.reviews-card-desc {
    width: 580px;
    padding-top: 16px;
    padding-left: 24px;
    color: #808080;
}

.reviews-card-stars {
    padding-left: 24px;
    padding-top: 16px;
}

.reviews-button {
    position: relative;
    left: 1000px;
    top: -30px;
    padding: 16px 24px;
    background: #FFF;
    color: #4754EB;
    font-weight: 500;
    border-radius: 16px;
}

.sales {
    width: 100%;
    background: #FFF;
}

.sales-container {
    padding-right: 220px;
    padding-top: 120px;
}

.sales-grid {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 52px;
}

.sales-title {
    font-weight: 500;
    font-size: 56px;
    padding-bottom: 40px;
}

#button-blue {
    color: #FFF;
    background: #4754EB;
}

.feedback-container {
    padding-top: 65px;
    padding-bottom: 80px;
}

.feedback-grid {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 163px;
}

.feedback-desc {
    max-width: 465px;
    font-weight: 400;
    font-size: 18px;
    line-height: 135%;
    color: #808080;
    padding-bottom: 24px;
}

.feedback-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.feedback-input {
    font-family: 'Visuelt Pro';
    width: 429px;
    height: 56px;
    font-size: 18px;
    background: #F2F2F2;
    border-radius: 16px;
    padding-left: 26px;
    color: #808080;

    &::placeholder {
        font-family: 'Visuelt Pro';
        font-weight: 400;
        font-size: 18px;
        color: #808080;
    }

    &:focus {
        font-family: 'Visuelt Pro';
        outline: none;
        font-size: 18px;
        padding-left: 26px;
        color: #000;
    }
}

.feedback-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding-top: 24px;
}

#form-3 {
    padding: 0;
}

footer {
    background: #4754EB;
    color: #FFF;
    border-radius: 0px 0px 16px 16px;
}

.footer-container {
    max-width: 1272px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 25px;
}

.rights {
    font-weight: 400;
    font-size: 16px;
    line-height: 135%;
    color: #D9D9D9;
    padding-top: 3px;
}

.footer-right {
    display: flex;
    gap: 8px;
    align-items: center;
}

.login-button:hover {
    background: #FFF;
    color: #4754EB;
}

.button-form:hover {
    background: #4754EB;
    color: #FFF;
}

.hiw-button:hover {
    background: #FFF;
    color: #4754EB;
}

.reviews-button:hover {
    background: #4754EB;
    color: #FFF;
}

.pricing-card-button:hover {
    color: #f5f5f5;
    background: #4754EB;
}

#button-blue:hover {
    background: #FFF;
    color: #4754EB;
}